.container {
  background-color: #ffd670;
  max-width: 600px;
  padding: 10px 20px 20px;
  border-radius: 12px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.container h2 {
  margin: 0 auto;
  text-align: center;
  padding: 10px 0 20px 0;
  color: black;
}

button {
  background: #ff9770;
  color: white;
  border: 2px solid #ff9770;
  border-radius: 5px;
  font-size: 20px;
}

section div,
section p {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 0px;
}

section p {
  padding-bottom: 20px;
}

section > div.closed {
  margin-bottom: 20px;
}
